body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  a {
    text-decoration: none;
    color: #000;
    background-color: rgb(255,255,0)
  }
  
  h1 {
    color: #e60000;
  }
  
  h2 {
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
